{% set filesystems = pillar['filesystems'] -%}

{% for device, info in filesystems.items() -%}
  {% set fs_spec = 'UUID=%s'|format(salt['disk.blkid'](device)[device]['UUID']) -%}
  {% if info.filesystem == 'swap' -%}
    {% set fs_file = 'swap' -%}
  {% else -%}
    {% set fs_file = info.mountpoint -%}
  {% endif -%}
  {% set fs_vfstype = info.filesystem -%}
  {% set fs_mntops = 'defaults' -%}
  {% set fs_freq = 0 -%}
  {% set fs_passno = 0 -%}
{{ '%-45s %-25s %-10s %-30s %s %s\n'|format(fs_spec, fs_file, fs_vfstype, fs_mntops, fs_freq, fs_passno) -}}
  {% if info.filesystem == 'btrfs' and info.get('subvolumes') -%}
    {% set prefix = info.subvolumes.get('prefix', '') -%}
    {% for subvol in info.subvolumes.subvolume -%}
      {% set fs_file = '/'|path_join(subvol.path) -%}
      {% set fs_mntops = 'subvol=%s'|format('/'|path_join(prefix, subvol.path)) -%}
      {% if not subvol.get('copy_on_write', True) -%}
        {# TODO(aplanas) nodatacow seems optional if chattr was used -#}
        {% set fs_mntops = fs_mntops ~ ',nodatacow' -%}
      {% endif -%}
{{ '%-45s %-25s %-10s %-30s %s %s\n'|format(fs_spec, fs_file, fs_vfstype, fs_mntops, fs_freq, fs_passno) -}}
    {% endfor -%}
  {% endif -%}
{% endfor -%}
